html,body{
    width: 100%;
    height: 100%;
}
body {
    background-color: #fff;
    font-family: AvenirRoman, HelveticaNeue-Light, Helvetica Neue, arial, Hiragino Sans GB, 冬青黑体, Microsoft YaHei New, Microsoft Yahei, 微软雅黑, 宋体, SimSun, STXihei, 华文细黑, sans-serif;
    font-weight: 400;
    background-color: rgb(240, 240, 240);

}
#info{
    width: 100%;
    height: 18.9rem;
    background-image: url("../img/换肤图片/换肤1友谊唯美720.jpg");
    background-repeat: no-repeat;
    background-size: 32rem 18.8rem;
    background-position: center center;
    overflow: hidden;
    position: relative;
    color: rgb(255,255,255);
    font-size: 1.24rem;
}

#headImage{
    display: block;
    width: 6.66rem;
    height: 6.66rem;
    border: 0.089rem solid rgb(226,227,228);
    border-radius: 3.33rem;
    margin: 1.7rem auto 0 auto;
}
#clothImage{
    display: block;
    width: 2.66rem;
    height: 2.66rem;
    border-radius: 1.33rem;
    position: absolute;
    top: 0.88rem;
    right: 0.88rem;
}
#arrowImage{
    display: block;
    width: 0.89rem;
    height: 1.46rem;
    position: absolute;
    top: 6rem;
    right: 1.33rem;
}
#font{
    font-size: 1.06rem;
    margin-top: 0.97rem;
    text-align: center;
}
#info-footer{
    position: absolute;
    width: 100%;
    height: 5.89rem;
}
#info-bottom{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5.89rem;
    display: -webkit-box;
    -webkit-box-pack: justify;
    font-size:2.8rem ;
}
.btn{
    text-align: center;
    width: 8rem;
    font-size: 1.24rem;
}
.btn span{
    display: block;
    height: 2.3rem;
}
.btn span.select{
    line-height: 2.3rem;
}
.line{
    position: absolute;
    width: 0.089rem;
    height: 2.8rem;
    background-color: rgb(230,230,230);
    top: 1.55rem;
    left: 8rem;
}
.line.right{
    left: 16rem;
}
#content{
    width: 100%;
    /*height: 100%;*/
    /*background-color: rgb(240,240,240);*/
}
.main1{
    width: 100%;
    height: 10rem;
}
.null{
    width: 100%;
    height: 1.11rem;
}

.son-content{
    font-size: 1.42rem;
    color: rgb(99,99,99);
    width: 100%;
    height: 4.22rem;
    background-color: rgb(255,255,255);
    margin-bottom: 0.08rem;
    text-indent: 1.78rem;
}
.son-content span{
    display: inline-block;
    height: 4.22rem;
    line-height: 4.22rem;
}
.son-content span.img{
    background-image: url("../img/18icn_eva.png") ;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 1.68rem 1.68rem;
    background-position: center center;
}
.last{
    float: right;
    overflow: hidden;
    margin-right: 1.51rem;
}
.lastimg{
    margin-top:1rem ;
    width: 0.89rem;
    height: 1.42rem;
}