html, body {
    width: 100%;
    height: 100%;
}
hr{
    margin: 0;
    padding: 0;
}
body {
    background-color: #fff;
    font-family: AvenirRoman, HelveticaNeue-Light, Helvetica Neue, arial, Hiragino Sans GB, 冬青黑体, Microsoft YaHei New, Microsoft Yahei, 微软雅黑, 宋体, SimSun, STXihei, 华文细黑, sans-serif;
    font-weight: 400;
    position: relative;
    background-color: rgb(240, 240, 240);
}

#head {
    width: 100%;
    height: 4.44rem;
    background-color: rgb(44, 147, 224);
    color: white;
    position: relative;
    line-height: 4.44rem;
    text-align: center;
    font-size: 1.6rem;
}

#head img {
    display: block;
    width: 1.06rem;
    height: 1.64rem;
    position: absolute;
    top: 1.47rem;
    left: 1.37rem;
}

#content {
    width: 100%;
    /*height: 100%;*/
    /*background-color: rgb(240, 240, 240);*/
}

.null {
    width: 100%;
    height: 1.11rem;
}

.son-content {
    font-size: 1.42rem;
    color: rgb(99, 99, 99);
    width: 100%;
    height: 4.26rem;
    background-color: rgb(255, 255, 255);
    margin-bottom: 0.08rem;
    text-indent: 1.78rem;
    position: relative;
}

.son-content span {
    display: inline-block;
    /*height: 4.22rem;*/
    line-height: 4.22rem;
    float: left;
    font-weight: bolder;
}

.son-content span:nth-child(2){
    position: absolute;
    font-size: 1.24rem;
    font-weight: normal;
    right: 3.11rem;
}
.touxiang{
    top: 50%;
    margin-top: -1.775rem;
    background-image: url("../img/36默认头像.png");
    background-repeat: no-repeat;
    background-size: 3.55rem 3.55rem;
    background-position: center center;
    border: 0.09rem solid #E6E6E6;
    width: 3.55rem;
    height: 3.55rem;
    border-radius: 1.775rem;
}
.last {
    position: absolute;
    background-image: url("../img/22icn_go_gray.png");
    background-repeat: no-repeat;
    background-size: 0.88rem 1.51rem;
    background-position: center center;
    width:  0.88rem;
    height: 1.51rem;
    right: 1.33rem;
    top: 1.33rem;
}
#mask{
    position: absolute;
    top: 0;
    opacity: 0;
    display: none;
}
#foot{
    position: absolute;
    width: 100%;
    height: 13.2rem;
    bottom: 0rem;
    display: none;
}
#foot .son-content{
    width: 100%;
    height: 4.26rem;

    line-height: 4.26rem;
    text-align: center;
    font-size: 1.42rem;
}
